/Output
*.emSession
*.jlink
*.user
*.d
*.o
*.a
*.ind
*.elf
*.map
CRYPTO
FS
SECURE
COMPRESS
SEGGER/SYS
SEGGER/Syscalls

*.swp

*.save
BSP/Microchip/SAME70Q21_SAME70_XPlained/Output/
Application/include/wifi_conf.h
/doc/out

.~lock.*
